pyvi
ftfy
tqdm
flask
regex
numpy
pandas
faiss-cpu
clip
rapidfuzz
matplotlib
flask-cors
opencv-python
langdetect
googletrans
sentence_transformers
transformers
scikit-learn
open_clip_torch
torch
streamlit
pymongo